* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(212,237,255,.2);
}

li, a {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
}

a.url-default {
	text-underline-offset: 2px;
	color: #09C;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 5%;
	background-color: #FFF;
	box-shadow: 0px 1.2px 2.4px rgba(0, 0, 0, 0.085), 0px 7px 19px rgba(0, 0, 0, 0.15);
}

.logo_title p {
	font-family: "Roboto", sans-serif;
	font-size: 0.8em;
	color: #757575;
	margin-top: 5px;
}

.logo_title p span {
	font-weight: bold;
	color: #0099CC;
}

.mobile-nav-bar {
	display: none;
	visibility: hidden;
}

.nav-links, .footer-links {
	list-style: none;
}

.nav-links li, .footer-links li {
	display: inline-block;
	padding: 0 20px;
}

.nav-links li a {
	transition: all 0.3s ease;
	text-underline-offset: 6px;
	color: #333;
}

.nav-links li a:hover {	
	color: #0099CC;
}

footer {	
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 0.8em;
	margin: 25px auto 25px auto;
}

footer p {
	text-align: center;
	padding: 0 8%;
}

footer .footer-links {
	width: 140px;
	margin: 30px auto 15px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer-quote {
	font-style: italic;
	margin-top: 10px;
}

.home-page-heading {
	position: relative;
	width: 960px;
	margin: 100px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.home-page-heading div {
	width: 500px;
}

.home-page-heading .book-cover-img {
	max-width: 100%;
	border-radius: 10px;
	box-shadow: -1px 0 28px -1px rgba(0,0,0,.3);
}

h1 {	
	font-family: "Roboto";
	color: #333;
	font-size: 2.25em;
}

h1 span {
	color: #167AFD;
}

h1.centered {
	text-align: center;
	margin: auto;
	width: 85%;
}

h2 {
	font-family: Roboto;
	font-size: 1.25em;
	font-weight: 300;
	color: #555;
	margin-top: 30px;
}

.features-home {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	margin: 50px 0 20px 0;
}

.features-home div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.features-home img {
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 1.2px 2.4px rgba(0, 0, 0, 0.085), 0px 7px 19px rgba(0, 0, 0, 0.15);
}

.features-home p {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.book-intro-boxes {
	position: relative;
	width: 900px;
	display: flex;
	align-items: flex-start;
	align-content: space-around;
	justify-content: space-around;
	flex-wrap: wrap;
	font-family: "Roboto", sans-serif;
	margin: 85px auto 40px auto;
}

.book-intro-boxes .box {
	width: 320px;
	margin: 0 30px 45px 30px;
}

.book-intro-boxes .box .title {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: start;
	font-size: 1.3em;
	font-weight: 400;
	color: #424242;
}

.book-intro-boxes .box .title img {
	padding: 6px;
	border-radius: 10px;
	background-color: #FFF;
	box-shadow: 0px 1.2px 2.4px rgba(0, 0, 0, 0.085), 0px 7px 19px rgba(0, 0, 0, 0.15);
	margin-right: 15px;
}

.book-intro-boxes .box .body {
	font-size: 1.05em;
	font-weight: 300;
	color: #333;
	margin-top: 20px;
}

.overview-book-part {
	width: 900px;
	margin: 60px auto 20px auto;
}

.extra-space-overview-book {
	margin-bottom: 80px;
}

.overview-book-part h1 {
	text-align: center;
}

.overview-book-part h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 1.15em;
	text-align: center;
}

.overview-book-part .chapters-container {
	width: 95%;
	margin: auto;	
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: space-around;
	justify-content: space-around;
}

.author-section {
	width: 700px;
	margin: 60px auto 90px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.author-section img {
	width: 201px;
	height: 201px;
	border-radius: 50%;
	border: 2px solid #09C;
	margin: auto;
}

.author-section .short-bio {
	width: 400px;
	font-family: "Roboto", sans-serif;;
	font-size: 1em;
	font-weight: 300;
}

.chapter-entry {
	width: 300px;
	font-family: "Roboto", sans-serif;;
	padding: 20px;
	margin: 20px 40px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: -1px 0 20px -1px rgba(0,0,0,.4);
	background-repeat: no-repeat;
}

.chapter-entry-placeholder {
	width: 300px;	
	margin: 0 40px;	
}

.chapter-entry p {
	font-size: 1.1em;
	font-weight: 500;
	color: #333;
	padding-bottom: 10px;
}

.chapter-entry p .span-chapter-number {
	color: #0099CC;
}

.chapter-entry p .span-chapter-title {
	font-weight: 300;
	font-size: 0.95em;
}

.chapter-entry ul {
	font-weight: 300;
	color: #333;
}

.chapter-entry li {
	margin: 10px 15px;
	font-size: 1em;
}

.region {
	width: 210px;
	font-family: "Roboto", sans-serif;;
	padding: 20px;
	margin: 20px 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: -1px 0 20px -1px rgba(0,0,0,.4);
	background-repeat: no-repeat;
	background-size: 30%;
	display: flex;
	align-items: center;
	justify-content: start;
}

.region a, h2 a {
	font-size: 1em;
	color: #333;
	text-underline-offset: 3px;
	transition: all 0.3s ease;
}

.region a:hover, h2 a:hover {
	color: #0099CC;
}

.region img {
	margin-right: 10px;
	border-radius: 8px;
}

.noradius {
	border-radius: 0;
}

.spacer-10-pixels-height {
	height: 10px;
}

.preview {
	width: 85%;
  	margin: 20px auto 0px auto;
  	display: flex;
  	align-items: center;
  	justify-content: space-around;
}

.preview img {
	border-radius: 10px;
	box-shadow: 0px 1.2px 2.4px rgba(0, 0, 0, 0.085), 0px 7px 19px rgba(0, 0, 0, 0.15);
}

.extra-space-overview-book {
	margin-bottom: 80px;
}

@media only screen and (max-width: 1050px) {
	.home-page-heading {
		width: 85%;
		flex-direction: column;
		margin: 90px auto;
	}

	.home-page-heading div {
		margin-bottom: 30px;
	}

	.book-intro-boxes {
		width: 85%;
	}

	.overview-book-part {
		width: 85%;
		margin: 60px auto 10px auto;
	}

	.extra-space-overview-book {
		margin-bottom: 70px;
	}

	.author-section {
		width: 90%;
		flex-direction: column;
	}

	.author-section img {
		margin-bottom: 60px;
	}

	.author-section .short-bio {
		font-family: "Roboto", sans-serif;;
		font-size: 1em;
		font-weight: 300;
	}
}

@media only screen and (max-width: 600px) {
	nav {
		display: none;
		visibility: hidden;
	}

	header {
		justify-content: center;
	}

	.mobile-nav-bar {
		display: block;
		visibility: visible;
		position: fixed;
		bottom: 0;
		left: 5%;
		right: 5%;
		height: 56px;
		background-color: #FFF;
		box-shadow: 0px 1.2px 2.4px rgba(0, 0, 0, 0.085), 0px 7px 19px rgba(0, 0, 0, 0.15);
		border-radius: 12px 12px 0 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

    .mobile-nav-bar img {
		padding: 8px;
		border-radius: 25%;
	}

	.mobile-nav-bar img:hover, .selected {
		background-color: rgba(11, 163, 214, 0.3);
		cursor: pointer;
	}

	.home-page-heading div {
		width: 90%;
	}

	.book-intro-boxes .box {
		width: 90%;
	}

	footer {			
		margin-bottom: 90px;
	}

	.extra-space-overview-book {
		margin-bottom: 70px;
	}

	.author-section .short-bio {
		width: 85%;
	}
}